.profile{
    display: flex;
    margin-bottom: 5.6rem;
    padding-left: 2.4rem; 
    font-family: Open Sans;
    font-style: Bold;
    font-size: 1.6rem;
    line-height: 22px;
    line-height: 100%;
    vertical-align: top;
    font-weight: 700; 
}

.profile-name{
    min-width: 4.4rem;
    height: 4.4rem; 
    border-radius: 0.8rem;
    margin-top: 2rem; 
    text-transform: uppercase; /* Заглавные буквы */
    background-color: var(--color-profile-dark);
    color: #FFFFFF;    
}

.profile-name > div{
    text-align: center;  
    padding-top: 1.3rem;
}

.profile-login{
    margin-top: 2.3rem;
    padding-left: 1.9rem;
}

.profile-text{
    color: #EFEFEF;
    margin-bottom: 0.8rem;
}

.profile-email{
    font-family: Open Sans;
    font-style: Regular;
    font-size: 1.4rem;
    line-height: 1.9rem;
    line-height: 100%;
    font-weight: 400;
    color: #C0BFBD;
}