.container-search {
    height: 5rem;
    width: 5.9rem; 
    margin-left: 1.6rem; 
    margin-bottom: 3rem;
    border: 1px solid #ccc;
    border-radius: 0.8rem;
    background-color: var(--color-search-dark);
    border: none;
}

.container-search > input[type="text"]{
    width: 67%;
    position: relative;
    bottom: 0.6rem;
    background-color: var(--color-search-dark);
    font-family: Open Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    color: var(--color-text-dark);
    outline: none;
    border: none;
    visibility: hidden;
}

.container-search > input[type="image"]{
    width: 2.4rem;
    height: 2.4rem;
    padding-top: 1.3rem;
    padding-left: 1.8rem;
    padding-right: 1.9rem;
}

