@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,500&family=Oswald:wght@300;400;500;600;700&display=swap');



:root{
    font-size: 10px;
    --color-dark: #242625;
    --color-light: #FFFFFF;
    --color-profile-dark: #A492FF;
    --color-profile-light: #4A49CB;
    --color-text-dark: #C0BFBD;
    --color-text-light: #7C7C7A;
    --color-search-dark: #424444;
    --color-search-light: #F5F5F5;
}


::-webkit-input-placeholder { /* WebKit browsers */
    color: var(--color-text-dark);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: var(--color-text-dark);
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: var(--color-text-dark);
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: var(--color-text-dark);
}

.board-menu{
    display: flex;
    margin-left: 3.5rem;
    margin-top: 4.6rem;
}

.board-text{
    padding-left: 1.9rem;
    font-family: Open Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    color: var(--color-text-dark);
}

.menu:hover{
    background-color: var(--color-search-dark);
}

.menu{
    display: flex;
    width: 67%; 
    border-radius: 0.8rem;
    transition: all 0.5s;
}

.menu>a{
    text-decoration: none;
}