.board-menu-logout{
    margin-top: 34.6rem;
    margin-bottom: 4.6rem;
}

.light-mode{
    padding-left: 2rem;
}

.board-mode{
    position:absolute;
    left: 3.1rem;
    width: 3.5rem;
    height: 2rem;
    background-color: var(--color-search-dark);
    border-radius: 10rem;
}

   /* Перемикачі радіо кнопок */
#dark:checked+label, #light:checked+label{
	display: none;
}

.dark {
    position: relative;
    left: 1.6rem;
    top: 0.2rem;
	background-color: #1e2020;
	cursor: pointer;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    text-align: center;
}

.light {
    position: relative;
    left: 0.4rem;
    top: 0.2rem;
	background-color: #ffffff;
	cursor: pointer; 
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    text-align: center;
}

.radio-light > input, .radio-dark > input{ /* HIDE ORG RADIO & CHECKBOX */
  visibility: hidden;
  position: absolute;
 
}

.img-light > img, .img-dark > img{
    position: relative;
    top: 0.2rem;
}