@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,500&family=Oswald:wght@300;400;500;600;700&display=swap');

.navigation{
  position:absolute;
  top: 0.1rem;
  left: 0rem; 
  background-color: var(--color-dark);
  width: 9rem;
  height: 102.4rem;
}

.navigation:hover {
  width: 25rem;
	transition: all .5s;
 }  
 
 .navigation:hover .ellipse-full-dark{
  background-image: url(/public/img/navleft.svg);
  transition: all .5s;
  width: 2.4rem;
  height: 2.4rem;  
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 55% 50%;
  left: 23.8rem;
}

.profile-login, .container-search>input[type='text'], .board-text, .board-menu-light>.input{
  opacity:0;
}

.navigation:hover .profile-login{
	width: 100%;
	transition: all .5s;
  opacity:1;
}

.navigation:hover .board-text{
	width: 100%;
	transition: all .5s;
  opacity:1;
}

.navigation:hover .board-menu-light>.input{
  opacity: 1;
  transition: all .9s;
}

.navigation:hover .container-search>input[type='text']{
  transition: all .5s;
  opacity: 1;
}

.navigation:hover .container-search{
  width: 21.8rem;
  transition: all .5s;
  opacity: 1;
}

.navigation:hover .container-search > input[type="text"]{
  opacity: 1; 
  visibility: visible;
  transition: all 2s;
}

.navigation:hover .board-mode{
    position:absolute;
    left: 20rem;
    transition: all .5s;
}
