
.ellipse-full-dark {
	background-color: #A492FF;
	background-image: url(/public/img/navright.svg);
	background-repeat: no-repeat;
	background-position: 55% 50%;
	width: 2.4rem;
	height: 2.4rem;
	border-radius: 50%;
	position: absolute; 
	top: 3rem;
    left: 7.8rem;
	display: flex;
	align-items: center;
	justify-content: center;
}